{contentType xml}

<item id="{$item->getItemId()}">
    <stockquantity>{$item->getStock()}</stockquantity>
    <delivery_time
            orderDeadline="{$item->getOrderDeadline()|date:'Y-m-d H:i'}">{$item->getOrderDeliveryTime()|date:'Y-m-d H:i'}</delivery_time>
    <depot n:foreach="$item->getDepots() as $depot" id="{$depot->getId()}">
        <stock_quantity>{$depot->getStock()}</stock_quantity>
    </depot>

</item>
