<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:g="http://base.google.com/ns/1.0">
    <channel>
    <title>{$storeName}</title>
    <link>{$link}</link>
    <description>{$description}</description>
